STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=change-me
COOKIE_SECRET=change-me
DATABASE_URL=postgres://kaksekam:kaksekam@localhost:5432/kaksekam
DB_NAME=kaksekam-backend
MEDUSA_BACKEND_URL=http://localhost:9000
MEDUSA_ADMIN_PATH=/app
DISABLE_MEDUSA_ADMIN=false
